<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sandip_Extension::tracker" sortOrder="1000" title="Tracker Management" module="Sandip_Extension"
             resource="Sandip_Extension::tracker" translate="title" action="tracker/tracker/index"/>
    </menu>
</config>
