<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin" title="Tracker Resources">
                <resource id="Sandip_Extension::tracker" title="Tracker Management" translate="title" sortOrder="1000"/>
                <resource id="Sandip_Extension::listing" title="Tracker Listing" translate="title" sortOrder="1001"/>
            </resource>
        </resources>
    </acl>
</config>
